<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Booking site</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <h1 style="text-align: center;">Welcome, Book your Flight now!</h1>
    <!-- <h2>Login as </h2> -->
    <div class="container">
        <div class="login form">
            <header>Login as</header>
            <form action="/type" method="post">
                <input type="radio" name="name" value="Administrator">
                <label for="Administrator" class="button">Administrator</label><br>
                <input type="radio" name="name" value="User">
                <label for="Customer" class="button">Customer</label><br>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </div>

</body>

</html>