<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <!-- <input type="checkbox" id="check"> -->
        <div class="login form">
            <header>
                <%= typeOfUser %>
                    Login
            </header>
            <form action="/login" method="post">

                <input type="email" placeholder="Enter your email" name="username">
                <input type="password" placeholder="Enter your password" name="password">
                <button type="submit" class="button" name="name" value="<%= typeOfUser %>">Login</button>
                <!-- <a href=".login">Forgot password?</a> -->
                <!-- <input type="submit" class="button" value="Login"> -->
                <!-- <form action="/register" method="get">
                    <label>New user??</label>
                    <a href="register.html">Register Now!</a>
                     <input type="submit" class="button" value="Register Now!"> -->
                <!-- </form> -->
            </form>
        </div>
    </div>
</body>

</html>